<template>
    <b-row>
        <b-col>
            <b-form-select
                    v-model="categoryId"
                    :options="categoryOptions"
                    class="map__category-select"
                    size="sm"
            />
            <Map :height="mapHeight">
                <MapMarkers :markers="mapMarkers"/>
            </Map>
        </b-col>
    </b-row>
</template>
<script>
    import Map from '../map/Map'
    import config from '../../config'
    import {mapState, mapGetters} from 'vuex'
    import MapMarkers from '../map/MapMarkers'

    export default {
        components: {
            Map, MapMarkers
        },
        data() {
            return {
                categoryId: null,
                map: {
                    options: config.map.options
                }
            }
        },
        computed: {
            ...mapState([
                'categories', 'markers'
            ]),
            ...mapGetters([
                'getMarkersByCategoryId', 'categorySelectOptions'
            ]),
            mapHeight: function () {
                return window.innerHeight - 65 + 'px';
            },
            categoryOptions() {
                let option = [{
                    text: 'Все категории',
                    value: null
                }];
                let options = this.categorySelectOptions;
                options = [...option, ...options];
                return options;
            },
            mapMarkers() {
                return this.getMarkersByCategoryId(this.categoryId);
            }
        },
    }

</script>