<template>
    <div>
        <b-row>
            <b-col>
                <Map :height="mapHeight" class="map__cursor--crosshair">
                    <MapCreateMarker/>
                </Map>
            </b-col>
        </b-row>
    </div>
</template>
<script>
    import Map from '../map/Map'
    import MapCreateMarker from '../map/MapCreateMarker'

    export default {
        components: {
            Map, MapCreateMarker
        },
        data() {
            return {}
        },
        computed: {
            mapHeight: function () {
                return window.innerHeight - 65 + 'px';
            },
        }
    }
</script>