<template>
    <div class="app">
        <Header/>
        <router-view></router-view>
    </div>
</template>
<script>
    import Vue from 'vue'
    import BootstrapVue from 'bootstrap-vue'
    import router from './routes'
    import store from './store'
    import Header from './components/layout/Header.vue'
    import {mapActions} from 'vuex'

    Vue.use(BootstrapVue);

    export default {
        name: 'app',
        router,
        store,
        components: {
            Header
        },
        data () {
            return {}
        },
        methods: {
            ...mapActions(['init'])
        },
        created() {
            this.init();
        },
    }
</script>