<template>
    <div>
        <slot></slot>
        <div v-bind:style="{height: height}" id="Map">
        </div>
    </div>
</template>
<script>
    import L from 'leaflet'
    import config from '../../config'


    export default {
        props: ['height', 'options'],
        data() {
            return {
                mapObject: null
            }
        },
        mounted() {
            this.showMap();
        },
        methods: {
            showMap() {
                let el = document.getElementById('Map');
                let options = this.options;
                options = typeof options === 'undefined' ? config.map.options : options;
                this.mapObject = L.map(el, options);
                L.tileLayer(config.map.apiUrl, config.map.layers.mapbox).addTo(this.mapObject);
                this.$emit('map_created');

            }
        }
    }
</script>
<style lang="scss">
    .leaflet-pane.leaflet-shadow-pane {
        display: none;
    }
</style>