<template>
    <div>
        <transition type="fade">
            <b-alert show variant="success" v-if="showSuccessMessage" class="mb-0 map__alert">
                <b>Точка сохранена.</b>
            </b-alert>
        </transition>
        <MapMarkers :markers="[marker]"/>
    </div>
</template>
<script>
    import MapMarkers from '../../components/map/MapMarkers'
    import MarkerService from '../../services/MarkerService'
    import {mapGetters} from 'vuex'
    import L from 'leaflet'

    export default {
        components: {
            MapMarkers
        },
        data() {
            return {
                marker: null,
                popup: null,
                showSuccessMessage: false
            }
        },
        mounted() {
        },
        computed: {
            mapObject() {
                return this.$parent.$data.mapObject;
            }
        },
        methods: {
            ...mapGetters([
                'categorySelectOptions'
            ]),
            addMarker(lat, lon) {
                this.marker = MarkerService.createLMarker({
                    lat: lat,
                    lon: lon,
                });
                let popup = this.markerPopup();
                this.marker.addTo(this.mapObject);
                this.marker.bindPopup(popup).openPopup();
            },
            markerPopup() {
                let el = document.createElement('div');

                // category select
                let row = document.createElement('div');
                row.className = 'row mb-2';
                let col = document.createElement('div');
                col.className = 'col';
                let selectCategory = document.createElement('select');
                selectCategory.className = 'popup-create-marker__select-category form-control-sm form-control';
                this.categorySelectOptions().map(option => {
                    let elOption = document.createElement('option');
                    elOption.value = option.value;
                    elOption.innerText = option.text;
                    selectCategory.appendChild(elOption);
                });
                this.selectCategory = selectCategory;
                col.appendChild(selectCategory);
                row.appendChild(col);
                el.appendChild(row);

                // save button
                let buttonSave = document.createElement('button');
                row = document.createElement('div');
                row.className = 'row';
                col = document.createElement('div');
                col.className = 'col';
                buttonSave.className = 'btn btn-sm btn-success pull-right map-popup__save w-100';
                buttonSave.innerText = 'Сохранить';
                col.appendChild(buttonSave);
                row.appendChild(col);
                el.appendChild(row);

                return L.popup({minWidth: 180}).setContent(el);
            },
            clearMarker() {
                this.marker.remove();
                this.marker = null;
            },
            onSaveMarker() {
                this.clearMarker();
                this.showSuccessMessage = true;
                let _this = this;
                setTimeout(function () {
                    _this.showSuccessMessage = false;
                }, 3000)
            },
            markerSave() {
                MarkerService.storeMarker({
                    lat: this.marker._latlng.lat,
                    lon: this.marker._latlng.lng,
                    category_id: this.selectCategory.value
                })
                    .then(
                        response => {
                            this.$store.dispatch('createLMarkers', {
                                markers: [response.data],
                                append: true
                            });
                            this.onSaveMarker();
                        }
                    )
            },
            init() {
                let map = this.mapObject;
                map.on('click', e => {
                    if (this.marker !== null) this.clearMarker();
                    this.addMarker(e.latlng.lat, e.latlng.lng);
                });
                document.addEventListener('click', e => {
                    if (e.target.classList.contains('map-popup__save')) {
                        this.markerSave();
                    }
                });
            },
        },
        watch: {
            mapObject(newValue) {
                if (newValue !== null) {
                    this.init();
                }
            }
        }
    }
</script>