<template>
</template>
<script>
    import L from 'leaflet'

    export default {
        props: ['markers'],
        data() {
            return {
                layer: null
            }
        },
        created() {
            this.$parent.$on('map_created', this.showMarkers);
        },
        methods: {
            showMarkers() {
                let layer = this.layer;
                if(this.mapObject && this.markers) {
                    if(layer) this.mapObject.removeLayer(layer);
                    layer = L.layerGroup(this.markers);
                    layer.addTo(this.mapObject);
                    this.layer = layer;
                }
            }
        },
        computed: {
            mapObject() {
                return this.$parent.$data.mapObject;
            }
        },
        watch: {
            markers() {
                this.showMarkers();
            },
            '$parent.mapObject'() {
                this.showMarkers();
            }
        }
    }
</script>