
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~bootstrap/dist/css/bootstrap.css";
@import "~leaflet/dist/leaflet.css";

.nav-item {
  .nav-link {
    color: #9299a2;
    &.active {
      color: #333;
    }
  }
}
.map__category-select {
  position: absolute;
  right: 30px;
  z-index: 9999;
  margin-top: 12px;
  max-width: 200px;
}

.map__popup-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.map__alert {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 180px;
  z-index: 9999;
}

.map__cursor--crosshair > * {
  cursor: crosshair;
}