<template>
    <b-navbar toggleable="md" type="dark" class="bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <router-link to="/map"
                             class="nav-link">Карта
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/markers"
                             class="nav-link">Новая точка
                </router-link>
            </li>
        </ul>
    </b-navbar>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>